{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            color: white;
            background-image: linear-gradient(rgb(85, 144, 208),rgb(42, 29, 94) );
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<header>
    <h1>Heading A</h1>
    <p>เนื้อหาส่วนนี้เป็นของ Heading A</p>
    <img src = "{% static 'display/shocked.png' %}" alt=""My Image">
    <h2>Heading B</h2>
    <p>เนื้อหาส่วนนี้เป็นของ Heading B</p>
    <h2>Heading C</h2>
    <p>เนื้อหาส่วนนี้เป็นของ Heading C</p>
</header>
<p>คำถาม: เนื้อหาส่วนนี้เป็นของ Heading ไหน?</p>
<a href="/" class="btn btn-primary w-100 py-2">Home</a>
    <h2>Display Links</h2>
    <ul>
        {% for link in user_links %}
            <li><a href="{{ link.url }}">{{ link.description }}</a></li>
        {% endfor %}
        {% for link2 in links_for_user %}
        <li><a href="{{ link2.link }}">{{ link2.link_name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>