<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome To All IT</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'display/icon.png' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="{% static 'display/home.css' %}" rel="stylesheet">
    <style>
        body {
            font-family: "Kanit", sans-serif;
            height: 100vh;
            background-image: url("{% static 'display/real.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(2px) brightness(95%);
        }
    </style>
</head>

<body class="d-flex align-items-center py-4">
    <main class="form-signin">
        <form method="post" action="{% url 'home:Display' %}">
            <img src="{% static 'display/fox1.png' %}" alt="" width="45%" height="45%">
            <h1 class="h3 mb-2 fw-normal" style="color: white;">บอกฟองอากาศของเจ้ามา</h1>
            <div class="form-floating">
                <input type="username" class="form-control" id="floatingInput" name="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput" style="color: rgb(24, 108, 136);">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword" style="color: rgb(24, 108, 136);">Password</label>
            </div>
            <a id="signin-button" href="#" class="btn btn-primary w-100 py-2">เข้าสู่เมืองใต้ทะเล</a>
            <p style="padding-top: 10px; color: aliceblue;">ยังไม่มีฟองอากาศเป็นของตัวเองอย่างงั้นหรอ? <a class="signup"
                    href="{% url 'registration:register' %}">มาสร้างฟองอากาศกัน</a></p>
            <p class="mt-5 mb-3">&copy; All IT</p>
        </form>
    </main>
    <script>
        const signInButton = document.getElementById('signin-button');
        signInButton.addEventListener('click', function (event) {
            event.preventDefault();
            const username = document.getElementById('floatingInput').value;
            const password = document.getElementById('floatingPassword').value;
            fetch("{% url 'home:Display' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: new URLSearchParams({
                    'floatingInput': username,
                    'floatingPassword': password
                }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.valid) {
                        window.location.href = '/display';
                    } else {
                        alert('ฟองอากาศที่เจ้าบอกมาไม่มีนะ แน่ใจนะว่าเจ้ามีฟองอากาศแล้ว');
                    }
                })
                .catch(error => {
                    console.error('พัง', error);
                });
        });
    </script>
</body>

</html>