@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 1025px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  body {
    font-family: "Kanit", sans-serif;
    padding: 20px;
    color: white;
    background-image: url("{% static 'display/display.png' %}");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
  }

  input,
  select {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    color: #161368;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  button {
    font-family: "Kanit", sans-serif;
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 10px;
    background-color: #305dff;
    color: white;
    cursor: pointer;
    align-items: center;
    margin: auto;
    display: block;
  }

  button:hover {
    background-color: #2e59a8;
  }